<% provide(:title, 'All lists') %>

<h1>All lists</h1>

<%= will_paginate %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>List number</th>
      <th>Registration code</th>
      <th>Container</th>
      <th>Event</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.list_number %></td>
        <td><%= list.registration_code %></td>
        <td><%= list.container %></td>
        <td><%= list.event_id %></td>
        <td><%= list.user_id %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, 
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= will_paginate %>
