<% provide(:title, t('.All_lists')) %>

<h1><%= t('.All_lists') %></h1>

<%= form_tag lists_path, method: 'get', class: "form-search" do %>
  <p>
    <%= text_field_tag :search, params[:search], class: "input-medium search-query" %>
    <%= submit_tag t('.search'), name: nil, class: "btn" %>
  </p>
<% end %>

<%= will_paginate %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.List_number') %></th>
      <th><%= t('.Registration_code') %></th>
      <th><%= t('.Container') %></th>
      <th><%= t('.Event') %></th>
      <th><%= t('.User') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <% if list.sent_on %>
        <tr class="success">
      <% else %>
        <tr>
      <% end %>
        <td><%= list.list_number %></td>
        <td><%= list.registration_code %></td>
        <td><%= list.container %></td>
        <td><%= event_title_for(list) %></td>
        <td><%= user_for(list) %></td>
        <td><%= link_to t('.Show'), list %></td>
        <td><%= link_to t('.Edit'), edit_list_path(list) %></td>
        <td><%= link_to t('.Destroy'), list, method: :delete, 
                data: { confirm: t('.confirm_message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= will_paginate %>
