<%= provide(:title, t('.show_list')) %>

<h1><%= t('.show_list') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.List_number') %></b>
  <%= @list.list_number %>
</p>

<p>
  <b><%= t('.Registration_code') %></b>
  <%= @list.registration_code %>
</p>

<p>
  <b><%= t('.Container') %></b>
  <%= @list.container %>
</p>

<p>
  <b><%= t('.Event') %></b>
  <%= event_title_for @list %>
</p>

<p>
  <b><%= t('.User') %></b>
  <%= user_for @list %>
</p>


<%= link_to t('.Edit'), edit_list_path(@list) %> |
<%= link_to t('.Back'), lists_path %>
