<%= render partial: 'shared/generic_error_message', 
           locals: { topic: @condition } %>

<%= form_for @condition, url: condition_path do |f| %>
  <%= f.label :version %>
  <%= f.text_field :version%>
  <%= f.submit class: "btn" %> 
<% end %>

<p><%= link_to t('.cancel_and_back'), conditions_path %></p>

