<tr>
  <td><%= LANGUAGES.rassoc(terms_of_use.locale)[0] %></td>
  <td><%= edit_language_link(terms_of_use) %></td>
  <td><%= link_to t('.show'), terms_of_use_path(terms_of_use) %></td>
  <td><%= link_to t('.delete'), terms_of_use_path(terms_of_use),
    method: :delete, data: { confirm: t('.confirm_delete') } %></td>
  <td><%= copy_language_link(terms_of_use) %></td>
</tr>

