<% list_statistics_for do |stats| %>
  <article>
    <header>
      <h5><%= t('.acceptance_status') %></h5>
    </header>
    <section>
      <table>
        <tr>
          <td><%= link_to t('.accepted_list_count'), acceptances_path(filter: :accepted) %></th>
          <td class="list_count"><%= stats.accepted_lists_count %></td>
        </tr>
        <tr>
          <td><%= link_to t('.not_accepted_list_count'), 
                          acceptances_path(filter: :not_accepted)  %></th>
          <td class="list_count"><%= stats.not_accepted_lists_count %></td>
        </tr>
         <tr class="total_line">
          <td><%= link_to t('.registered_list_count'), 
                          acceptances_path(filter: :registered)  %></th>
          <td class="list_count"><%= stats.registered_lists_count %></td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr>
          <td><%= link_to t('.not_registered_list_count'), 
                          acceptances_path(filter: :not_registered)  %></th>
          <td class="list_count"><%= stats.not_registered_lists_count %></td>
        </tr>
        <tr class="total_line">
          <td><%= link_to t('.total_list_count'), acceptances_path(filter: :all)  %></th>
          <td class="list_count"><%= stats.total_lists_count %></td>
        </tr>
      </table>
    </section>
  </article>
  <% if @list %>
    <article>
      <header>
        <h5><%= t('.list_status') %></h5>
      </header>
      <section>
        <% if @list.accepted? %>
          <p>List has already been <strong>accepted</strong>.</p>
          <p>To edit the list you have to release the list by pressing the 
            <strong>Release List</strong> button
          </p>
          <%= button_to "Release List", accept_acceptance_path(@list), class: "btn btn-warning" %>
        <% else %>
          <p>List has not been accepted</p>
        <% end %>
      </section>
    </article>
  <% end %>
<% end %>
