<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to_if !edit, t('.item_number'), 
        edit_acceptance_path(@list, 
                             sort: "item_number", 
                             direction: sort_direction_for("item_number")), 
        remote: true %>
      </th>
      <th><%= link_to_if !edit, t('.description'), 
        edit_acceptance_path(@list, 
                             sort: "description", 
                             direction: sort_direction_for("description")),
        remote: true %>
      </th>
      <th><%= link_to_if !edit, t('.size'), 
        edit_acceptance_path(@list, 
                             sort: "size", 
                             direction: sort_direction_for("size")),
        remote: true %>
      </th>
      <th><%= link_to_if !edit, t('.price'), 
        edit_acceptance_path(@list, 
                             sort: "price", 
                             direction: sort_direction_for("price")),
        remote: true %>
      </th><th></th><th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% if edit and @item == item %>
          <td><%= item.item_number %></td>
          <td><%= f.text_field :description, size: 50 %></td>
          <td><%= f.text_field :size %></td>
          <td><%= f.text_field :price%></td>
          <td><%= f.submit t('.update'), class: "btn btn-link" %></td>
          <td><%= link_to t('.cancel'), 
                    edit_acceptance_path(@list, sort: params[:sort],
                                                direction: params[:direction]), 
                    remote: true %>
          </td>
        <% else %>
          <td><%= item.item_number                   %></td>
          <td><%= mark_alert_terms(item.description) %></td>
          <td><%= item.size                          %></td>
          <td><%= mark_alert_value(item.price)       %></td>
          <td><%= link_to_if !@list.accepted?, t('.edit'), 
                    edit_item_acceptance_path(item, 
                                              sort: params[:sort],
                                              direction: params[:direction]), 
                    remote: true,
                    id: "edit-item-#{item.item_number}" %></td>
          <td><%= link_to_if !@list.accepted?, t('.delete'), 
                    delete_item_acceptance_path(item,
                                                sort: params[:sort],
                                                direction: params[:direction]),
                    method: :delete,
                    remote: true,
                    data: { confirm: t('.confirm') },
                    id: "delete-item-#{item.item_number}" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

