<h2><%= t('.list_number', list: @list.list_number) %></h2>
<% unless @list.acceptable? %>
  <div class="alert alert-error"><%= t('.acceptable_html') %></div>
<% end %>
<table class="table">
  <% if edit %>
    <tr>
      <th><%= f.label :container, t('.container') %></th>
      <td><%= f.text_field :container %></td>
      <td><%= f.submit t('.update'), class: "btn btn-link" %></td>
      <td><%= link_to t('.cancel'), 
                      edit_acceptance_path(@list), 
                      remote: true %>
    </tr>
  <% else %>
    <tr>
      <th><%= t('.container') %></th>
      <td><%= @list.container %></td>
      <td><%= link_to_if !@list.accepted?,
                         t('.edit'), edit_list_acceptance_path(@list), 
                         id: "edit_container",
                         remote: true %></td>
    </tr>
  <% end %>
</table>
<div class="alert alert-block"><%= t('.list_number_on_container_html') %></div>

