<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
We put a lot emphasis to make the <em>Secondhand</em> application as easy to use as possible. But things that might seem obvious to us might be incomprehensible to you. Therefore we want to give you some guidance on how to use the application. If you still need help feel free to contact us by phone or over the contact form.
</p>
</p>Here is an outline of our explanations. This is also a typical workflow when working with <em>Secondhand</em></p>
<ul>
  <li>Get access to the application</li>
  <li>Registering lists</li>
  <li>Collecting items</li>
  <li>Finish your list</li>
  <li>Print your list and your labels</li>
  <li>Sign out and sign in</li>
  <li>Change your profile</li>
</ul>

<h3>Get access to the application</h3>
<p>
At the home page you find a button called <em>Sign up now!</em>. This is where you start not having an account yet. <%= image_tag("help/welcome.png") %>
</p>
<p>
When you press the <em>Sign up now!</em> button you will be forwarded to the <em>Sign up</em> page. <%= image_tag("help/sign_up.png") %>
</p>
<p>
Fill in all fields that are indicated with a * (star). You can also optionally check the <em>I want to recieve news per email</em> check box to get emails about news on <em>Kinderkleider und Spielzeugbörse Burgthann</em>. When done press the <em>Sign up</em> button. Your account will be created and you will be forwarded to your user page. <%= image_tag("help/user_page.png") %>
</p>
<h3>Registering Lists</h3>
<p>
Initially in the <em>List Administration</em> section it says that you don't have registered lists yet. In you user page you can register lists at the top part of the page. The registration code you will find on your pickup receipt. Enter the registration code and press the <em>Register List</em> button. <%= image_tag("help/list_registration.png") %>
</p>
<p>
After registration your user page will contain a list indicating that it contains no items yet. <%= image_tag("help/list_administration.png") %>
</p>
<h3>Collecting Items</h3>
<p>
To add items to your list press the <em>Collect items</em> link. You then will be forwarded to the lists page. <%= image_tag("help/collect_items_index.png") %>
</p>
<p>
To add a new item to you list press the <em>New Item</em> button. This will forward you to the <em>New Item</em> page. <%= image_tag("help/new_item.png") %>
</p>
<p>
Now fill in the description, the size and the price. If you want to enter subsequent items press the <em>Save and create new item</em>. If you just want to save this one item press <em>Create item and return to overview</em>. If you don't want to save the already entered item or if you just want to return without changing anything press the <em>Return to overview</em> link. After pressing <em>Save and create new item</em> on the left hand side you will see the last entered item. There is also a button <em>Show all</em> that shows all currently entered items. <%= image_tag("help/new_item_overview.png") %>
</p>
<p>
If you have entered the maximum items per list than you will only see the <em>Create item and return to overview</em>. In the list's overview page you will see all items of the list. In the overview page you can view the item, edit the item or delete the item by pressing the respective button in the items line. To go back to your user page press the <em>Back</em> link.
</p>
<p>
<h3>Finish Your List</h3>
Back in your user page you will see a link at the right side of your list a link called <em>Finish and disribute list</em>. <%= image_tag("help/list_administration_before_submit.png") %>
</p>
<p>
If you already know the container color enter it and press update. If you are done with collecting the items for the list press the <em>Finish and submit list</em> link. Then on the right site the link will be replaced with the information when you have sent the list. On the left site you will see two additional links saying <em>Print list</em> and <em>Print labels</em>. The labels have to be tagged to the items. <%= image_tag("help/list_administration_after_submit.png") %>
<p>
<h3>Print your list and your labels</h3>
<p>
Printing you list is optionaly and it is meant if you want to have a print out for your files. Printing the labels is necessary as you need to tag to each item the respective label. On the label there is a black bullet that is where you should tag the label to your item. Please be careful not to destroy the barcode when tagging your labels.
</p>
<h3>List forwarding to other users</h3>
<p>
If you don't need an obtained list you can forward it to another seller. If you have already registered the list you have to inform us so we can dealocate your list so another seller can register the list. To do that go to the contact page and fill in the contact form as indicated in the picture. <%= image_tag("help/list_forwarding.png") %>
</p>
<h3>Sign out and sign in</h3>
<p>
When logged in you won't be signed off automaticaly. If you want to log off you can do that over the menu in the header. <%= image_tag("help/header.png") %>
</p>
<p>
When you click on the <em>My Account</em> button a drop down menu will be opened. <%= image_tag("help/account.png") %>
</p>
<p>
To sign off press the <em>Log out</em> link in the <em>My Account</em> menu. You then will be returned to the welcome page. When pressing the <em>Log in to my account</em> you will be forwarded to the <em>Sign in</em> page. There you have to provide the email address as login and your password. <%= image_tag("help/sign_in.png") %> If you have forgotten your password press the <em>Reset password</em> link and you will be forwarded to the reset password page. Enter your email address and an email will be send to you with a link where you can reset your password.
</p>
<h3>Change your profile</h3>
<p>
If you want to change your profile settings in the <em>My Account</em> menu select the profile link and change your settings as necessary. 
</p>
