<% provide(:title, 'Hilfe') %>
<h1>Hilfe</h1>
<p>
Wir haben uns angestrengt um die <em>Secondhand</em> Applikation so einfach wie möglich zu gestalten. Dennoch ist es nicht ausgeschlossen, dass für uns offensichtliche Bedienhandlungen für Sie unverständlich sind. Deshalb wollen wir Ihnen in dieser Hilfe ein paar nützliche Hinweise geben, damit Sie sich in <em>Secondhand</em> hoffenlich einfacher zurechtfinden. Wenn Sie dennoch Hilfe benötigen dürfen Sie uns gerne anrufen oder uns über das Kontakformular Ihre Fragen stellen.
</p>
<p>
  Nachfolgend finden Sie eine Übersicht über die Hilfethemen. Diese stellen gleichzeitig einen typischen Arbeitsablauf dar, wenn Sie mit <em>Secondhand</em> arbeiten.
</p>
<ul>
  <li><a href="#access">Zugang zu <em>Secondhand</em> erhalten</a></li>
  <li><a href="#register">Listen registrieren</a></li>
  <li><a href="#collect">Artikel erfassen</a></li>
  <li><a href="#finish">Liste abschließen</a></li>
  <li><a href="#print">Listen und Etiketten drucken</a></li>
</ul>
<p>
  Nachfolgende Themen werden Sie nur gelegentlich verwenden
</p>
<ul>
  <li><a href="#forward">Listenweitergabe an einen anderen Verkäufer</a></li>
  <li><a href="#sign">Abmelden und anmelden</a></li>
  <li><a href="#profile">Profil ändern</a></li>
</ul>

<section id="access">
  <header>
    <h3>Zugang zu <em>Secondhand</em> erhalten</h3><hr/>
  </header>
  <section>
  <p>
    Auf der Homepage finden Sie eine Schaltfläche mit der Bezeichnung <em>Jetzt registrieren!</em>. Hier starten Sie wenn Sie noch kein Konto haben. 
  </p>
  <p> <%= image_tag("help/welcome_de.png", class: "well") %> </p>
  <p>
    Wenn Sie die Schaltfläche <em>Jetzt registrieren!</em> drücken werden Sie zur <em>Registrierung</em>sseite weitergeleitet. 
  </p>
  <p> <%= image_tag("help/sign_up_de.png", class: "well") %> </p>
  <p>
  Füllen Sie alle Felder die mit einem * (Stern) gekennzeichnet sind aus. Sie können optional auch <em>Ich möchte Neuigkeiten über E-Mail erhalten</em> anwählen, dann erhalten Sie Ankündigungen zu neuen Börsenterminen und andere nützliche Informationen. Wenn Sie alle Daten eingegeben haben drücken Sie die <em>Mein Konto erstellen</em> Schaltfläche.
  </p>
  <p>
    Ihr Konto wird erstellt und Sie werden zu Ihrer Benutzerseite weitergleitet.
  </p>
  <p> <%= image_tag("help/user_page_de.png", class: "well") %> </p>
  </section>
</section>

<section id="register">
  <header>
    <h3>Liste registrieren</h3><hr/>
  </header>
  <section>
  <p>
  Wenn Sie sich neu registriert haben sehen Sie im Bereich der <em>Listen Administration</em> die Meldung, dass Sie noch keine Listen registriert haben. In Ihrer Benutzerseite können Sie in der oberen Hälfte Ihre Listen registrieren. Den Registrierungscode finden Sie auf Ihrem Abholzettel. Geben Sie den Registrierungscode in das Eingabefeld ein und drücken Sie die <em>Liste Registrieren</em> Schaltfläche. 
  </p>
  <p> <%= image_tag("help/list_registration_de.png", class: "well") %> </p>
  <p>
    Nach der Registrierung enthält Ihre Benutzerseite eine Liste mit dem Hinweis am rechten Rand, dass die Liste noch keine Artikel enthält. 
  </p>
  <p> <%= image_tag("help/list_administration_de.png", class: "well") %> </p>
  </section>
</section>

<section id="collect">
  <header>
    <h3>Artikel erfassen</h3><hr/>
  </header>
  <section>
  <p>
    Um Artikel zu erfassen drücken Sie den <em>Artikel erfassen</em> Link. Sie werden dann zu der <em>Artikel Erfassen</em> Seite weitergeleitet. 
  </p> 
  <p> <%= image_tag("help/collect_items_index_de.png", class: "well") %> </p>
  <p>
    Um einen neuen Artikel zu erfassen drücken Sie die <em>Neuen Artikel erstellen</em> Schaltfläche. Sie werden dann zur <em>Neuer Artikel für Liste ...</em> weitergeleitet. 
  </p>
  <p> <%= image_tag("help/new_item_de.png", class: "well") %> </p>
  <p>
    Geben Sie jetzt die Beschreibung, die Größe und den Preis ein. Wenn Sie weitere Artikel eingeben möchten, dann drücken Sie <em>Erstelle Artikel und neuen Artikel eingeben</em>. Wenn Sie nur diesen einen Artikel speichern möchten, dann drücken Sie auf <em>Erstelle Artikel und zurück zur Übersicht</em>. Falls Sie den eingegebenen Artikel nicht speichern möchten oder den Vorgang abbrechen wollen ohne etwas zu ändern, dann drücken Sie auf <em>Abbrechen und nicht speicher</em>. 
  </p>
  <p>
    Nachdem Sie <em>Erstelle Artikel und neuen Artikel eingeben</em> gedrückt haben erscheint auf der linke Seite der zuletzt erstellte Artikel. Dort finden Sie auch eine Schaltfläche <em>Alle Artikel</em> die alle in der Liste enthaltenen Artikel anzeigt.
  </p>
  <p> <%= image_tag("help/new_item_overview_de.png", class: "well") %> </p>
  <p>
    Wenn Sie die maximale Anzahl Artikel pro Liste eingegeben haben, dann wird nur noch die Schaltfläche <em>Erstelle Artikel und zurück zur Übersicht</em> und der <em>Abbrechen und nicht speichern</em> Link angezeigt. 
  </p>
  <p>
  In der <em>Artikel Erfassen</em> Seite sehen Sie alle in der Liste enthaltenen Artikel. In dieser Übersicht können Sie einen Artikel anzeigen (<em>Anzeigen</em> Link), bearbeiten (<em>Bearbeiten</em> Link) oder löschen (<em>Löschen</em> Link) in dem Sie den entsprechenden Link betätigen. Um zu Ihrer Benutzerseite zurückzukehren drücken Sie den <em>Zurück</em> Link.
  </p>
  <p> <%= image_tag("help/list_overview_de.png", class: "well") %> </p>
  </section>
</section>

<section id="finish">
  <header>
    <h3>Liste abschließen und versenden</h3><hr/>
  </header>
  <section>
  <p>
  Zurück in Ihrer Benutzerseite sehen Sie jetzt einen Link auf der rechten Seite Ihrer Liste. Dieser Link ist beschriftet mit <em>Liste abschließen und versenden</em>. 
  </p>
  <p> <%= image_tag("help/list_administration_before_submit_de.png", class: "well") %> </p>
  <p>
  Falls Sie die Korbfarbe des Korbes bereits wissen, in dem Sie Ihre Artikel abgegeben werden, tragen Sie die Korbfarbe ein und drücken die <em>Korbfarbe Speichern</em> Schaltfläche. Wenn Sie alle Artikel eingegeben haben, dann drücken Sie den <em>Liste abschließen und versenden</em> Link.
  </p>
  <p>
    Auf der rechten Seite wird der Link ersetzt durch den Hinweis wann Sie die Liste abgeschlossen und versendet haben. Auf der linken Seite sehen Sie jetzt zwei weitere Links mit der Aufschrift <em>Liste drucken</em> und <em>Etiketten drucken</em>. Die Etiketten müssen Sie dann an ihre Artikel anheften. 
  </p>
  <p> <%= image_tag("help/list_administration_after_submit_de.png", class: "well") %> </p>
  </section>
</section>

<section id="print">
  <header>
    <h3>Liste und Etiketten drucken</h3><hr/>
  </header>
  <section>
  <p>
    Das Drucken der Liste ist optional und ist dafür gedacht, dass Sie für sich einen Ausdruck erstellen können. Die Etiketten müssen Sie drucken und an Ihren Artikeln anbringen. Auf den Etiketten sind schwarze Kreisflächen wo Sie ihre Etiketten befestigen sollen. Bitte achten Sie darauf, dass Sie den Barcode nicht beschädigen. 
  </p>
  </section>
</section>

<section id="forward">
  <header>
    <h3>Listenweitergabe an einen anderen Verkäufer</h3><hr/>
  </header>
  <section>
  <p>
    Wenn Sie eine Liste doch nicht benötigen sollten, können Sie diese an einen anderen Verkäufer weitergeben. Sollten Sie die Liste bereits registriert haben, dann informieren Sie uns bitte, so dass wir die Liste wieder freigeben können, damit eine anderer Verkäufer die Liste registrieren kann. Die Information können Sie uns über das Kontakformular, mit den unten gemachten Eingaben, zukommen lassen. 
  </p>
  <p> <%= image_tag("help/list_forwarding_de.png", class: "well") %> </p>
  </section>
</section>

<section id="sign">
  <header>
    <h3>Abmelden und anmelden</h3><hr/>
  </header>
  <section>
  <p>
    Wenn Sie sich angemeldet haben werden Sie nicht automatisch abgemeldet. Falls Sie sich abmelden wollen können Sie das über das Menü in der Kopfzeile tun. 
  </p>
  <p> <%= image_tag("help/header_de.png", class: "well") %> </p>
  <p>
    Durch die Betätigung der <em>Mein Konto</em> Schaltfläche klappt ein Menü auf.
  </p>
  <p> <%= image_tag("help/account_de.png", class: "well") %> </p>
  <p>
    Um sich abzumelden drücken Sie auf den <em>Abmelden</em> Link in dem <em>Mein Konto</em> Menü. Sie werden dann zur Homepage weitergeleitet. Um sich wieder anzumelden können Sie hier die <em>An meinem Konto anmelden</em> Schaltfläche betätigen und werden zur <em>Anmelde</em> Seite weitergleitet. Hier geben Sie Ihrer E-Mail-Adressse und Ihr Passwort an. 
  </p>
  <p> <%= image_tag("help/sign_in_de.png", class: "well") %> </p>
  <p>
  Falls Sie Ihr Passwort vergessen haben drücken Sie auf den <em>Passwort zurücksetzen</em> Link. Sie werden zur <em>Passwort rücksetzen</em> Seite weitergeleitet. Dort geben Sie Ihre E-Mail-Addresse an. Sie erhalten eine E-Mail mit einem Link unter dem Sie Ihr Passwort zurücksetzen können.
  </p>
  </section>
</section>

<section id="profile">
  <header>
    <h3>Profil ändern</h3><hr/>
  </header>
  <section>
  <p>
    Sollten Sie Änderungen an Ihrem Profil vornehmen wollen, dann wählen Sie im <em>Mein Konto</em> Menü den <em>Profil</em> Link und ändern dort Ihre Einstellungen.
  </p>
  </section>
</section>
