<% provide(:title, 'Home') %>

<% unless @news.nil? %>
  <div class="well">
    <strong class="pull-right"><%= @news.created_at.strftime("%Y-%m-%d - %H:%M") %></strong><br>
    <h3><%= @news.title %></h3>
    <p><%= sanitize(@news.description) %></p>
  </div>
<% end %>

<div class="center hero-unit">
  <h1>Secondhand</h1>
  <h2>
    <%= t('.welcome_html') %>
  </h2>

  <%= link_to t('.sign_up_now'), signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("SugarYourCoffee_48x48.png", alt: "SugarYourCoffee"), 
            'http://syc.dyndns.org/' %>
