<% provide(:title, 'Home') %>

<% unless @news.nil? %>
  <div class="well">
    <strong class="pull-right">
      <%= @news.created_at.strftime("%Y-%m-%d - %H:%M") %>
    </strong><br>
    <% translation = @news.news_translation(I18n.locale) %>
    <h3><%= translation.title %></h3>
    <p><%= sanitize(translation.description) %></p>
  </div>
<% end %>

<div class="center hero-unit">
  <h1>Secondhand</h1>
  <h2>
    <%= t('.welcome_html', event: @event ? @event.title : t('.event_title')) %>
  </h2>

  <% if signed_in? %>
    <%= link_to t('.profile'), 
                current_user, 
                class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to t('.sign_up_now'), 
                signup_path, 
                class: "btn btn-large btn-primary" %>
    <%= link_to t('.sign_in'),
                signin_path,
                class: "btn btn-large" %>
  <% end %>
</div>

<%= link_to image_tag("SugarYourCoffee_48x48.png", alt: "SugarYourCoffee"), 
            'http://syc.dyndns.org/drupal' %>
