<% provide(:title, t('.Sign_in')) %>
<h1><%= t('.Sign_in') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email, t('.e_mail') %>
      <%= f.text_field :email %>

      <%= f.label :password, t('.password') %>
      <%= f.password_field :password %>

      <%= f.submit t('.Sign_in'), class: "btn btn-large btn-primary" %>
      <%= t('.forgot_password') %> <%= link_to t('.reset_password'),
                                               new_password_reset_path  %>
    <% end %>

    <p><%= t('.New_user') %> <%= link_to t('.Sign_up_now'), signup_path %></p>
  </div>
</div>
