<table id="items-table" class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.number') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.size') %></th>
      <th><%= t('.price') %></th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <% @selling.line_items.each do |line_item| %>
      <tr>
        <td><%= list_item_number_for(line_item.item) %></td>
        <td><%= line_item.description %></td>
        <td><%= line_item.size %></td>
        <td><%= line_item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
