<% selling_statistics_for do |stats| %>
  <article>
    <header>
      <h5><%= t('.selling_status') %></h5>
    </header>
    <section>
      <table>
        <tr>
          <td><%= t('.sellings') %></td>
          <td class="list_count"><%= stats.selling_count %></td>
        </tr>
        <tr>
          <td><%= t('.items') %></td>
          <td class="list_count"><%= stats.sold_items_count %></td>
        </tr>
        <tr>
          <td><%= t('.average_revenue_html') %></td>
          <td class="list_count"><%= stats.average_revenue %></td>
        </tr>
        <tr class="total_line">
          <td><%= t('.revenue') %></td>
          <td class="list_count"><%= stats.revenue %></td>
        </tr>
      </table>
    </section>
  </article>
 <% end %>
