<% if @sellings %>
  <table class="table table-hover" >
    <thead>
      <tr>
        <th><%= t('.selling_number') %></th>
        <th><%= t('.created') %></th>
        <th><%= t('.updated') %></th>
        <th><%= t('.revenue') %></th><th/><th/><th/>  
      </tr>
    </thead>
    <tbody>
      <% @sellings.each do |selling| %>
        <tr>
          <td><%= selling.id %></td>
          <td><%= local_date_and_time selling.created_at %></td>
          <td><%= local_date_and_time selling.updated_at %></td>
          <td><%= number_to_currency selling.total %></td>
          <td><%= link_to t('.show'), selling_path(selling) %></td>
          <td><%= link_to t('.delete'), 
                  selling, 
                  method: :delete, 
                  remote: true,
                  data: { confirm: t('.confirm_delete') } %>
          </td>
          <td><%= link_to t('.print'), print_selling_path(selling) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('.no_sellings') %>
<% end %>
