<% provide(:title, t('.selling')) %>

<h1><%= t('.selling') %></h1>

<% if @event %>
  <h2><%= @event.title if @event %></h2>

  <%= render 'header' %>

  <p>
    <%= link_to t('.go_to_cart'), 
        item_collection_carts_path, class: "btn btn-large btn-primary" %>
  </p>

  <div id="sellings-table">
    <%= render 'sellings' %>
  </div>
<% else %>
  <div class="center well">
    <%= t('missing_event_html', action: t('.action'),
          link: link_to(t('.events'), events_path, id: 'activate_event', 
                        class: 'btn btn-small')) %>
  </div>
<% end %>
