<% provide(:title, t('.title')) %>

<h1><%= t('.heading', number: @selling.id) %></h1>
<h2><%= @event.title if @event %></h2>

<%= render 'show_selling_status' %>

<p><%= link_to t('.selling_overview'), sellings_path %></p>

<%= render 'items' %>
