<h2><%= t('.revenues_histogram') %></h2>

<% hist = statistics.histogram_y_values(statistics.lists_revenue_histogram) %>

<%= render file: histogram.to_file(hist, "tmp/hist.svg") %>

<table class="table table-hover" >
  <thead>
    <tr>
      <th><%= t('.legend') %></th>
      <th><%= t('.range') %></th>
      <th><%= t('.frequency') %></th>
    </tr>
  </thead>
  <tbody>
    <% hist.each_with_index do |row, i| %>
      <tr>
        <td><%= histogram.roman(i+1) %></td> 
        <td><%= row["sum_range"] %></td>
        <td id='right'><%= row["frequency"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

