<% provide(:title, t('.statistics')) %>

<h1><%= t('.statistics') %></h1>

<% event_statistics do |statistics| %>
  <%= render 'general', statistics: statistics %>
  <%= render 'sellings', statistics: statistics %>
  <%= render 'reversals', statistics: statistics %>
<% end %>

<%= link_to t('.export_to_csv'), statistics_export_path %> |
<%= link_to t('.print_to_pdf'), "#" %>

