<% provide(:title, t('.event_users')) %>

<h1><%= "#{t('.event_users')} (#{@lists.count})" %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.list_number') %></th>
      <th><%= t('.last_name') %></th>
      <th><%= t('.first_name') %></th>
      <th><%= t('.address') %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.phone') %></th>
      <th colspan="4">
        <%= link_to t('.print_to_pdf'), 
                    #, 
                    class: "btn btn-block btn-success " %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      
      <tr>
        <td><%= list.list_number %></td>
        <td><%= list.user.last_name %></td>
        <td><%= list.user.first_name %></td>
        <td><%= address_for(list.user) %></td>
        <td><%= list.user.email %></td>
        <td><%= list.user.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>


