<% provide(:title, t('.terms_of_use')) %>

<% if @page.nil? %>
  <h1><%= t('.terms_of_use', number: "-", count: "-") %></h1>

  <p><%= t('.terms_of_use_missing') %></p>
<% else %>
  <h1><%= t('.terms_of_use', number: @page.number, count: @count) %></h1>

  <h3><%= @page.title %></h3>

  <p><%= sanitize @page.content %></p>

  <% if @buttons.include? :accept %>
    <%= link_to t('.accept'), accept_terms_of_use_path, 
                              class: "btn btn-success pull-right" %>
  <% end %>
  <% if @buttons.include?(:close) %>
    <% if current_user %>
      <%= link_to t('.close'), user_path(current_user), 
                               class: "btn pull-right" %>
    <% else %>
      <%= link_to t('.close'), root_path, class: "btn pull-right" %>
    <% end %>
  <% end %>
  <% if @buttons.include? :next %>
    <%= link_to t('.next'),   display_terms_of_use_path(page: @page.number, 
                                                        direction:  1),
                              class: "btn pull-right" %>
  <% end %>
  <% if @buttons.include? :back %>
    <%= link_to t('.back'),   display_terms_of_use_path(page: @page.number, 
                                                        direction: -1),
                              class: "btn pull-left" %>
  <% end %>
<% end %>

