<%= render 'shared/error_messages' %>

<p><strong><%= t('.mandatory_fields') %></strong></p>

<%= f.label :first_name, t('.First_name') %>
<%= f.text_field :first_name %>

<%= f.label :last_name, t('.Last_name') %>
<%= f.text_field :last_name %>

<%= f.label :street, t('.Street') %>
<%= f.text_field :street %>

<%= f.label :zip_code, t('.Zip_code') %>
<%= f.text_field :zip_code %>

<%= f.label :town, t('.Town') %>
<%= f.text_field :town %>

<%= f.label :country, t('.Country') %>
<%= f.text_field :country, value: f.object.country || "Deutschland" %>

<%= f.label :phone, t('.Phone') %>
<%= f.text_field :phone %>

<%= f.label :email, t('.E_Mail') %>
<%= f.text_field :email %>

<p>
  <%= f.check_box :news %>
  <%= f.label :news, t('.News'), class: "checkbox inline" %>
<p>

<%= f.label :preferred_language, t('.preferred_language') %>
<%= f.select :preferred_language, LANGUAGES %>

<%= f.label :password, t('.Password') %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, t('.Confirm_Password') %>
<%= f.password_field :password_confirmation %>

<p>
  <%= f.check_box :privacy_statement %>
  <%= f.label :privacy_statement, t('.privacy_statement_confirmation'),
              class: "checkbox inline" %>
</p>

