<% if user.active? %>
  <div class="thumbnail"> 
    <div class="row">
      <div class="span4">
      <%= gravatar_for user, size: 52 %>
      <address class="offset1">
        <strong>
          <%= link_to "#{user.first_name} #{user.last_name}", user %>
        </strong><br>
        <%= user.street %><br>
        <%= user.zip_code %> <%= user.town %><br>
        <%= user.country %><br>
        <%= user.phone %><br>
        <a href="mailto:<%= user.email %>"><%= user.email %></a><br>
        <% if current_user.admin? && !current_user?(user) %>
          <% if user.lists.empty? %>
            <%= link_to t('.delete'), user, method: :delete, 
                data: { confirm: t('.confirm') },
                class: "btn btn-warning" %>
          <% else %>
            <%= link_to t('.deactivate'), deactivate_user_path(user),
                method: :post,
                data: { confirm: t('.confirm') },
                class: "btn btn-error" %> 
          <% end %>
        <% end %>
      </address>
      </div>
      <div class="span2">
        <span class="badge badge-info pull-right">
          <%= pluralize(user.lists_for_active_event.size, t('.list')) %>
          <%= t('.registered') %>
        </span>
      </div>
    </div>
  </div>
<% end %>
