<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :street %>
      <%= f.text_field :street %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>

      <%= f.label :town %>
      <%= f.text_field :town %>

      <%= f.label :country %>
      <%= f.text_field :country %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :email, "E-Mail" %>
      <%= f.text_field :email %>

      <%= f.label :news, "I want to recieve news per e-mail" %>
      <%= f.check_box :news %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
