<% provide(:title, "#{@user.last_name}, #{@user.first_name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= form_tag(register_list_user_path(@user, params)) do %>
      <fieldset>
        <legend>List Registration</legend>
        <%= label_tag :registration_code, 'Enter registration code:' %>
        <%= text_field_tag :registration_code, params[:registration_code] %>
        <%= submit_tag "Register List", class: "btn btn-success" %>
      </fieldset>
    <% end %>
    <fieldset>
      <legend>List Administration</legend>
      <div class="row-fluid">
        <% if @user.lists.empty? %>
          <p>You have no registered lists yet</p>
        <% else %>
          <% @user.lists.each do |list| %>
            <div class="btn-group">
              <%= link_to "<button class=\"btn\">List #{list.list_number}</button>".html_safe, 
                          register_list_user_path(@user) %>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class="nav-header">Process</li>
                <li><%= link_to "Item collection", href: "#" %></li>
                <li><%= link_to "Container color", href: "#" %></li>
                <li class="divider"/>
                <li class="nav-header">Print</li>
                <li><%= link_to "List", href: "#" %></li>
                <li><%= link_to "Labels", href: "#" %></li>
                <li class="divider"/>
                <li><%= link_to "Delete list", href: "#" %></li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
