<% provide(:title, "#{@user.last_name}, #{@user.first_name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <fieldset>
      <legend><%= t('.List_Registration') %></legend>
      <%= form_tag(register_list_user_path(@user, params)) do %>
        <%= label_tag :registration_code, t('.Enter_registration_code') %>
        <%= text_field_tag :registration_code, params[:registration_code] %>
        <%= submit_tag t('.Register_List'), class: "btn btn-success" %>
      <% end %>
    </fieldset>
    <fieldset>
      <legend><%= t('.List_Administration') %></legend>
      <div class="row">
        <% if @user.lists.empty? %>
          <p><%= t('.No_Registered_Lists') %></p>
        <% else %>
          <% @user.lists_for_active_event.each do |list| %>
          <div class="span2">
            <div class="btn-group">
              <%= link_to "<button class=\"btn\">
                             #{t('.List')} #{list.list_number}
                           </button>".html_safe, 
                           user_list_items_path(@user, list) %>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class="nav-header"><%= t('.Process') %></li>
                <li><%= link_to t('.Item_collection'), 
                        user_list_items_path(@user, list) %></li>
                <li class="divider"/>
                <li class="nav-header"><%= t('.Print') %></li>
                <li><%= link_to t('.List'), 
                                print_list_user_list_path(@user, list) %></li>
                <li><%= link_to t('.Labels'), 
                                print_labels_user_list_path(@user, list) %></li>
              </ul>
            </div>
            <%= link_to "Finish and send list", '#' %>
          </div>
          <div class="span6">
            <%= form_for(list) do |f| %>
              <%= f.label :container, t('.Enter_container_color') %>
              <%= f.text_field :container %>
              <%= f.submit t('.Save_Container_Color'), 
                           class: "btn btn-success" %>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
