<table id="items-table" class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.number') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.size') %></th>
      <th><%= t('.price') %></th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <% transaction.line_items.each do |line_item| %>
      <tr>
        <td><%= number.call(line_item) %></td>
        <td><%= description.call(line_item) %></td>
        <td><%= size.call(line_item) %></td>
        <td><%= price.call(line_item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
