<div class="well well-small">
  <article>
    <header>
      <h5><%= status_header %></h5>
    </header>
    <section>
      <table>
        <tr>
          <td><%= t('.items') %></td>
          <td class="list_count"><%= transaction.line_items.count %></td>
        </tr>
        <tr>
          <td><%= t('.updated') %></td>
          <td class="list_count">
            <%= t('.updated_at', 
                  updated_at: time_ago_in_words(transaction.updated_at)) %>
          </td>
        </tr>
        <tr class="total_line">
          <td><%= t('.total') %></td>
          <td class="list_count"><%= transaction.total %></td>
        </tr>
      </table>
    </section>
  </article>
</div>
