<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= raw t('errors.template.header', count: @event.errors.count,
                  model: t('activerecord.models.event')) %>
      </h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t('.title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :event_date, t('.event_date') %><br />
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :location, t('.location') %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :fee, t('.fee') %><br />
    <%= f.text_field :fee %>
  </div>
  <div class="field">
    <%= f.label :deduction, t('.deduction') %><br />
    <%= f.text_field :deduction %>
  </div>
  <div class="field">
    <%= f.label :provision, t('.provision') %><br />
    <%= f.text_field :provision %>
  </div>
  <div class="field">
    <%= f.label :max_lists, t('.max_lists') %><br />
    <%= f.number_field :max_lists %>
  </div>
  <div class="field">
    <%= f.label :max_items_per_list, t('.max_items_per_list') %><br />
    <%= f.number_field :max_items_per_list %>
  </div>
  <div class="field">
    <%= f.label :list_closing_date, t('.list_closing_date') %><br />
    <%= f.date_select :list_closing_date %>
  </div>
  <div class="field">
    <%= f.label :delivery_location, t('.delivery_location') %><br />
    <%= f.text_field :delivery_location %>
  </div>
  <div class="field">
    <%= f.label :delivery_date, t('.delivery_date') %><br />
    <%= f.date_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :delivery_start_time, t('.delivery_start_time') %><br />
    <%= f.time_select :delivery_start_time %>
  </div>
  <div class="field">
    <%= f.label :delivery_end_time, t('.delivery_end_time') %><br />
    <%= f.time_select :delivery_end_time %>
  </div>
  <div class="field">
    <%= f.label :collection_location, t('.collection_location') %><br />
    <%= f.text_field :collection_location %>
  </div>
  <div class="field">
    <%= f.label :collection_date, t('.collection_date') %><br />
    <%= f.date_select :collection_date %>
  </div>
  <div class="field">
    <%= f.label :collection_start_time, t('.collection_start_time') %><br />
    <%= f.time_select :collection_start_time %>
  </div>
  <div class="field">
    <%= f.label :collection_end_time, t('.collection_end_time') %><br />
    <%= f.time_select :collection_end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
