<%= provide(:title, t('.Show_event')) %>

<h1><%= t('.Show_event') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.Title') %></b>
  <%= @event.title %>
</p>

<p>
  <b><%= t('.Event_date') %></b>
  <%= @event.event_date.strftime("%Y-%m-%d") %>
</p>

<p>
  <b><%= t('.Location') %></b>
  <%= @event.location %>
</p>

<p>
  <b><%= t('.Fee') %></b>
  <%= @event.fee %>
</p>

<p>
  <b><%= t('.Deduction') %></b>
  <%= @event.deduction %>
</p>

<p>
  <b><%= t('.Provision') %></b>
  <%= @event.provision %>
</p>

<p>
  <b><%= t('.Max_lists') %></b>
  <%= @event.max_lists %>
</p>

<p>
  <b><%= t('.Max_items_per_list') %></b>
  <%= @event.max_items_per_list %>
</p>

<p>
  <b><%= t('.Active') %></b>
  <%= @event.active %>
</p>

<%= link_to t('.print_pickup_tickets'), 
            print_pickup_tickets_event_path(@event) %> |
<%= link_to t('.Edit'), edit_event_path(@event) %> |
<%= link_to t('.Back'), events_path %>
