<% if @reversals %>
  <%= form_tag counter_index_path, method: 'get', class: 'form-search' do %>
    <%= text_field_tag :reversal_id, params[:reversal_id],
                                class: 'input-medium search-query' %>
    <%= submit_tag t('.search'), name: nil, class: 'btn', 
                                id: 'search_reversal' %>
  <% end %>
  <table class="table table-hover" >
    <thead>
      <tr>
        <th><%= t('.reversal_number') %></th>
        <th><%= t('.reversal_created_at') %></th>
        <th><%= t('.reversal_redemption') %></th><th/><th/>
      </tr>
    </thead>
    <tbody>
      <% @reversals.each do |reversal| %>
        <tr>
          <td><%= reversal.id %></td>
          <td><%= reversal.created_at %></td>
          <td id='right'><%= number_to_currency reversal.total %></td>
          <td><%= link_to t('.show_reversal'), reversal, 
                  id: "show_reversal_#{reversal.id}" %></td>
          <td><%= link_to t('.print_reversal'), 
                  print_reversal_path(id: reversal), 
                  id: "print_reversal_#{reversal.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @reversals %>

<% else %>
  <%= t('.no_reversal') %>
<% end %>
