<% if @sellings %>
  <%= form_tag counter_index_path, method: 'get', class: 'form-search' do %>
    <%= text_field_tag :selling_id, params[:selling_id],
                                class: 'input-medium search-query' %>
    <%= submit_tag t('.search'), name: nil, class: 'btn', 
                                id: 'search_selling' %>
  <% end %>

  <table class="table table-hover" >
    <thead>
      <tr>
        <th><%= t('.selling_number') %></th>
        <th><%= t('.selling_created_at') %></th>
        <th><%= t('.selling_revenue') %></th><th/><th/><th/>  
      </tr>
    </thead>
    <tbody>
      <% @sellings.each do |selling| %>
        <tr>
          <td><%= selling.id %></td>
          <td><%= selling.created_at %></td>
          <td id='right'><%= selling.total %></td>
          <td><%= link_to t('.show_selling'), selling_path(selling) %></td>
          <td><%= link_to t('.print_selling'), 
                  print_selling_path(selling) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @sellings %> 

<% else %>
  <%= t('.no_sellings') %>
<% end %>
