<% provide(:title, t('.title')) %>

<h1><%= t('.heading') %></h1>

<div class="row">
  <div class="span6">
    <h2><%= t('.carts', count: @carts.length) %></h2><%= render 'carts' %>
  </div>
  <div class="span6">
    <h2><%= t('.statistics') %></h2><%= render 'statistics' %>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2><%= t('.sellings', count: @sellings.length) %></h2>
    <%= render 'sellings' %>
  </div>
  <div class="span6">
    <h2><%= t('.reversals', count: @reversals.length) %></h2>
    <%= render 'reversals' %>
  </div>
</div>
