<% if @news.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= raw t('errors.template.header', count: @news.errors.count,
                model: t('activerecord.models.news')) %>
    </div>
    <ul>
      <% @news.errors.full_messages.each do |m| %>
        <li><%= raw m %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :title, t('.title') %>
<%= f.text_field :title %>

<%= f.label :description, t('.description') %>
<%= f.text_area :description, rows: 6 %>
