<% provide(:title, t('.News')) %>

<h1><%= t('.News') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.Title') %></th>
      <th><%= t('.Description') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @all_news.each do |news| %>
      <% translation = news.news_translation(I18n.locale) %>
      <tr>
        <td><%= translation.title %></td>
        <td><%= sanitize(translation.description) %></td>
        <td><%= link_to t('.Show'), news %></td>
        <td><%= link_to t('.Edit'), edit_news_path(news) %></td>
        <td><%= link_to t('.Destroy'), news, method: :delete, 
          data: { confirm: t('.confirm_message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t('.New_News'), new_news_path %>

