<% provide(:title, t('.New_News')) %>
<h1><%= t('.Create_news') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@news) do |f| %>
      <%= render 'form', f: f %>

      <%= f.submit t('.Create_new_news'), class: "btn btn-large btn-primary" %>
    <% end %>

    <%= link_to t('.Show'), @news %> |
    <%= link_to t('.Back'), news_index_path %>

  </div>
</div>
