<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.cart_number') %></th>
      <th><%= t('.cart_type') %></th>
      <th><%= t('.item_count') %></th>
      <th><%= t('.cashier') %></th>
      <th /><th /><th />
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= cart.cart_type %></td>
        <td><%= cart.line_items.count %></td>
        <td><%= cart.user ? name_for(cart.user, :first_name, "") : "-" %></td>
        <td><%= link_to t('.show'), cart, id: "show_cart_#{cart.id}" %></td>
        <td><%= link_to t('.delete'),
          cart, id: "delete_cart_#{cart.id}",
          method: "delete", data: { confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
