<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.item_number') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.size')        %></th>
      <th><%= t('.price')       %></th><th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.items.each do |item| %>
      <tr>
        <td><%= list_item_number_for(item) %></td>
        <td><%= item.description %></td>
        <td><%= item.size        %></td>
        <td><%= item.price       %></td>
        <td><%= link_to t('.delete'), 
                        delete_item_cart_path(item),
                        method: :delete,
                        data: { confirm: t('.confirm') },
                        id: "delete-item-#{item.item_number}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

