<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.item_number') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.size')        %></th>
      <th><%= t('.price')       %></th><th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td><%= list_item_number_for(line_item.item) %></td>
        <td><%= line_item.description %></td>
        <td><%= line_item.size        %></td>
        <td><%= number_to_currency line_item.price %></td>
        <td><%= link_to t('.delete'), 
                        delete_link_for(@transaction, line_item),
                        method: :delete,
                        data: { confirm: t('.confirm') },
                        id: "delete-item-#{line_item.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

