<%= render partial: 'shared/generic_error_message', locals: { topic: @cart } %>

<div class="row">
  <div class="span8">
    <%= form_tag @cart, method: :put, class: "form-search" do %>
      <p>
        <%= label_tag :search_list_number, 
          t('carts.item_collection_header.select_list_number') %>
        <%= text_field_tag :search_list_number, params[:search_list_number], 
                           autofocus: true, onfocus: "this.select()",
                           class: "input-medium search-query" %>
        <%= label_tag :search_item_number, 
          t('carts.item_collection_header.select_item_number') %>
        <%= text_field_tag :search_item_number, params[:search_item_number],
                           class: "input-medium search-query" %>
        <%= submit_tag t('carts.item_collection_header.search'), 
          name: nil, class: "btn" %>
      </p>
    <% end %>
    <p>
      <%= button_to t('carts.item_collection_header.check_out'), 
                    reversals_path, 
                    method: :post, class: "btn btn-large btn-primary" %>
    </p>
  </div>
  <div class="span4">
    <div id="cart-status" class="well well-small">
      <%= render 'carts/cart_status' %>
    </div>
  </div>
</div>

