<% provide(:title, t('.title')) %>

<% if @event %>
  <h1><%= t('.heading', number: @cart.id) %></h1>
  <h2><%= @event.title %></h2>

  <%= render 'carts/item_collection_header' %>
  <%= render 'carts/items' %>
<% else %>
  <h1><%= t('.title') %></h1>
  <div class="center well">
    <%= t('missing_event_html', action: t('.action'),
          link: link_to(t('.events'), events_path, 
                        id: 'activate_event', class: "btn btn-small")) %>
  </div>
<% end %>
