<% provide(:title, t('.new_terms_of_use')) %>

<h1><%= t('.new_terms_of_use') %></h1>

<%= render partial: 'shared/generic_error_message', 
           locals: { topic: @terms_of_use } %>

<%= form_for @terms_of_use, url: terms_of_use_index_path do |f| %>
  <%= hidden_field_tag :conditions_id, @conditions.id %>
  <%= f.label :locale %>
  <%= f.select :locale, @conditions.available_locales %>
  <%= f.submit class: "btn" %>
<% end %>

<p><%= link_to t('.cancel_and_back'), condition_path(@conditions) %></p>
