<%= provide(:title, t('.Collect_Items')) %>

<h1><%= t('.Collect_Items') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.Item_number') %></th>
      <th><%= t('.Description') %></th>
      <th><%= t('.Size') %></th>
      <th><%= t('.Price') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_number %></td>
        <td><%= item.description %></td>
        <td><%= item.size %></td>
        <td><%= item.price %></td>
        <td><%= link_to t('.Show'), 
                user_list_item_path(@user, @list, item) %></td>
        <td><%= link_to t('.Edit'), 
                edit_user_list_item_path(@user, @list, item) %></td>
        <td><%= link_to t('.Destroy'), [@user, @list, item], method: :delete, 
                data: { confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.Create_New_Item'), new_user_list_item_path(@user, @list), 
            class: "btn btn-primary" %> 

<br/><br/>

<%= link_to t('.Back'), @user %>
