<%= provide(:title, 'New Item') %>

<h1>New Item</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [@user, @list, @item] do |f| %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :size %>
      <%= f.text_field :size %>
      <%= f.label :price %>
      <%= f.number_field :price %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
