<%= provide(:title, t('.Show_Item')) %>

<h1><%= t('.Show_Item') %></h1>

<div class="row">
  <div class="span6 offset3">
    <p>
      <strong><%= t('.Item_Number') %></strong>
      <%= @item.item_number %>
    </p>
    <p>
      <strong><%= t('.Description') %></strong>
      <%= word_wrap(@item.description, line_width: 40) %>
    </p>
    <p>
      <strong><%= t('.Size') %></strong>
      <%= @item.size %>
    </p>
    <p>
      <strong><%= t('.Price') %></strong>
      <%= number_to_currency @item.price %>
    </p>

    <br/>

    <%= link_to t('.Edit'), edit_user_list_item_path(@user, @list, @item) %> |
    <%= link_to t('.Back'), user_list_items_path(@user, @list) %>
  </div>
</div>
